@model Application_RSV.Models.Reservation

@{
    ViewData["Title"] = "Create";

}
@{
    var types = ViewBag.types;
}


<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="accepter" /> @Html.DisplayNameFor(model => model.accepter)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="idReservtion" class="control-label"></label>
                <select asp-for="idReservtion" class="browser-default control-label custom-select">
                    <option selected>Open this select menu</option>
                    @foreach (var reserType in types)
                    {
                        <option value="@reserType.idType">@reserType.name</option>

                    }

                </select>
                <span asp-validation-for="idReservtion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
